.DS_Store
*.pdf
bin
*.exe
*.out
*.o
.vscode
*.zip
Image
vmlinux
*.gz
System.map
debug.log
*.mp4
*dasm.S
*section.txt
Lab4/kos-riscv
*.bin
*.elf
Lab5/lab5_3180103012/user
*.swp
**/mmap.c
gef.py
deprecated

